h1{
	margin-top: 60px;
	border-bottom: solid;
	color: black;
}

p{
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
img{
	float: right;
	transform: rotate(-8deg);

}

body{
	margin: 40px;
	background-color: white;
	width: 80%;
	height: 100%;
	min-width: 1000px;
	min-height: 1000px;
}

div.container{
	
	margin-top: 30px;	
}


div.subcontainer{
		background: gray;
		margin-bottom: 40px;
		margin-left: 50px;
		margin-right: 40px;
}

div.callmethis{
	clear: left;
	float: left;
	width: 50%;
	margin-left: 10px;
	font-style: italic;	
	border-right: solid;
	

}

div.saythis{
	
	width: 50%;
	margin-left: 390px;
	padding-left: 115px;
	font-family: "Times New Roman", Times, serif;
	
}